{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NPCA</title>

    <!-- Carregar o CSS do Bootstrap -->
    {% bootstrap_css %}

    <!-- Incluir jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Carregar seus arquivos CSS personalizados -->
    <link rel="stylesheet" href="{% static 'css/contato.css' %}">
</head>

<body>

    <!-- Opções de navegação com Bootstrap -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">NPCA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Linhas de Pesquisa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Projetos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contato</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Outros
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Pesquisar...">
            <button class="btn btn-outline-success" type="submit">Pesquisar</button>
          </form>
        </div>
      </nav>

    <!-- Separador com Bootstrap -->
    <hr class="my-4">

    <!-- Conteúdo da página -->
    <div class="container">
        <!-- Título com Separador -->
        <div class="title-with-separator mb-4">
            <h2 class="content-title">Redes Sociais</h2>
            <div class="separator"></div>
        </div>

        <!-- Aqui você pode adicionar seu conteúdo -->
    </div>

</body>

<!-- Carregar o JavaScript do Bootstrap -->
{% bootstrap_javascript %}

<footer class="footer bg-light py-3">
    <div class="container">
        <p class="text-center">©NPCA</p>
    </div>
</footer>

</html>
