{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NPCA</title>
    <!-- links arquivos CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<!-- barra de navegação fixa -->
<div class="navbar">
    <!-- Logo à direita -->
    <div class="logo">
        <img src="{% static 'imagens/logo3.png' %}" alt="logo">
    </div>
    <!-- barra de pesquisa à esquerda -->
    <div class="search-bar">
        <input type="text" placeholder="Procurar...">
        <button type="submit">Pesquisar</button>
    </div>
</div>

<!-- opções de navegação -->
<div class="options">
    <a href="#">Home</a>
    <a href="#">Linhas de Pesquisa</a>
    <a href="#">Projetos</a>
    <a href="#">Contato</a>
    <a href="#">Outros</a>
</div>

<!-- separador -->
<hr>

<!-- conteúdo da página -->
    <div class="content">
        <!-- texto -->
        <p>O Grupo de Pesquisa Núcleo de Pesquisas em Computação Aplicada da Universidade Federal Rural da Amazônia (UFRA) é uma entidade 
            criada com o propósito de servir como um catalisador para o desenvolvimento de pesquisas em uma ampla gama de áreas da ciência da computação. 
            Entre estas áreas estão a Inteligência Computacional, a Biologia Computacional, a Tecnologia, Inovação e Educação, as Redes de Computadores, 
            a Informática Agrária, a Informática Aplicada à Saúde e a Computação Verde. Professores pesquisadores dos diversos campi da UFRA,
             juntamente com colaboradores externos de instituições parceiras, como UFPA, UFAM, IFPA, Prodepa, Uninassau, entre outras, 
            unem esforços em prol do avanço do conhecimento nessas áreas de atuação. 
            Essa colaboração multidisciplinar e interinstitucional fortalece o impacto e a relevância das pesquisas realizadas, 
            contribuindo para o desenvolvimento científico e tecnológico não apenas da região amazônica, mas também do país como um todo.</p>
        <!-- botões -->
        <div class="content-buttons">
            <button type="button" class="btn btn-dark rounded-pill mr-2">Publicações</button>
            <button type="button" class="btn btn-dark rounded-pill mr-2">Laboratório de Computação Aplicada</button>
            <button type="button" class="btn btn-dark rounded-pill">GPD / CNPq</button>
        </div>
    </div>
    <!-- título com Separador -->
    <div class="title-with-separator">
        <h2 class="content-title">Destaques</h2>
        <div class="separator"></div>
    </div>

    <!-- destaques -->
<div class="highlight-boxes">
    <div class="highlight-box">
        <img src="imagens/fotoprojeto.png" alt="Imagem 1">
        <h3>Projeto 1</h3>
    </div>
    <div class="highlight-box">
        <img src="imagens/fotoprojeto.png" alt="Imagem 2">
        <h3>Projeto 2</h3>
    </div>
    <div class="highlight-box">
        <img src="imagens/fotoprojeto.png" alt="Imagem 3">
        <h3>Projeto 3</h3>
    </div>
</div>

    <!-- título com Separador -->
    <div class="title-with-separator">
        <h2 class="content-title">UFRA</h2>
        <div class="separator"></div>
    </div>

    <!-- texto -->
    <div class="text-ufra">
        <p>A Universidade Federal Rural da Amazônia (UFRA), fundada em 1975, destaca-se como uma instituição 
            de ensino superior pública situada no estado do Pará. Reconhecida pela sua atuação nas áreas de ciências
            agrárias e ambientais, a UFRA oferece cursos de graduação e pós-graduação alinhados às demandas regionais, 
            promovendo a formação de profissionais qualificados e o avanço do conhecimento científico. Além disso, a 
            UFRA tem um forte compromisso com a extensão universitária, desenvolvendo projetos e programas que visam 
            à integração com a comunidade e à promoção do desenvolvimento sustentável na região amazônica.</p>
    </div>

    <!-- botões -->
    <div class="content-buttons">
        <button type="button" class="btn btn-dark rounded-pill mr-2">Ver no Mapa</button>
    </div>
</body>

<footer class="footer">
    <div class="footer-menu">
        <ul>
            <p>Menu Principal</p>
            <li><a href="#">Home</a></li>
            <li><a href="#">Linhas de Pesquisa</a></li>
            <li><a href="#">Projetos</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </div>
    <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
</footer>

</html>
