{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NPCA</title>
    <!-- links arquivos CSS -->
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/div1.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>

<body>
<!-- barra de navegação fixa -->
<div class="navbar">
    <!-- Logo à direita -->
    <div class="logo">
        <img src="{% static 'imagens/logo3.png' %}" alt="logo">
    </div>
    <!-- barra de pesquisa à esquerda -->
    <div class="search-bar">
        <input type="text" placeholder="Procurar...">
        <button type="submit">Pesquisar</button>
    </div>
</div>

<!-- opções de navegação -->
<div class="options">
    <a href="/">Home</a>
    <a href="/pesquisa">Linhas de Pesquisa</a>
    <a href="/projetos">Projetos</a>
    <a href="/contato">Contato</a>
    <a href="/pesquisadores">Pesquisadores</a>
    <a href="/publicacoes">Publicações</a>
    <a href="/lab">Laboratório</a>
    <a href="/ps">Processos Seletivos</a>
    <a href="/leituras">Leituras</a>
    <a href="/oficinas">Oficinas e Cursos</a>
</div>

<!-- separador -->
<hr>

<!-- conteúdo da página -->
<body>
    <!-- título com Separador -->
    <div class="title-with-separator">
        <h2 class="content-title">Inteligência Computacional</h2>
        <div class="separator"></div>
    </div>

    <!-- texto -->
    <div class="text-body">
        <p>A Inteligência Computacional (IC) se refere a um conjunto de métodos computacionais bioinspirados capazes de tratar problemas complexos do mundo real. 
            A IC difere da Inteligência Artificial (IA) “clássica” por basear-se em modelos inspirados na natureza como, por exemplo, Redes Neurais Artificiais, Algoritmos 
            Genéticos, ou Inteligência de Enxames. Por outro lado, a IA usualmente utiliza modelos baseados nas diversas formas de raciocínio humano. Os métodos de 
            Inteligência Computacional objetivam realizar tarefas que requerem raciocínio, aprendizado, tomada de decisão e otimização. A Inteligência Computacional é 
            também conhecida pelos termos Computação Bio-Inspirada, Computação Natural e Soft Computing.</p>
    </div>

    <!-- título com Separador -->
    <div class="title-with-separator">
        <h2 class="content-title">Biologia Computacional</h2>
        <div class="separator"></div>
    </div>

    <!-- texto -->
    <div class="text-body">
        <p>A Biologia Computacional se divide em várias subáreas, como a Bioinformática, que tem a função de aplicar as técnicas da biologia computacional; a Biologia 
            Sistêmica, que se responsabiliza pelas grandes redes biológicas; a Simulação Molecular, que estuda formas de se reproduzir a maquinaria das moléculas bioló-
            gicas; a Genômica Computacional, área que se incumbe de pesquisar o genoma das células, entre outras. Dentre todas essas áreas citadas, a que mais se 
            destaca e cresce é a Bioinformática. Esse campo de estudo vem sendo aprimorado no sentido de respaldar a manipulação de dados biológicos, organizando, 
            catalogando e estruturando as informações genéticas.</p>
    </div>

    <!-- título com Separador -->
    <div class="title-with-separator">
        <h2 class="content-title">Tecnologia, Inovação e Educação</h2>
        <div class="separator"></div>
    </div>

    <!-- texto -->
    <div class="text-body">
        <p>A disseminação do computador e de todos seus acessórios está provocando uma grande mudança social. O impacto dessa nova tecnologia tem provocado 
            mudanças na educação. Todo esse processo de imbricação entre Educação e Informática no Brasil, tem inicio na década de 70, quando o setor educacional 
            é mobilizado a fim de desenvolver e capacitar recursos humanos necessários ao desenvolvimento da base tecnológica sobre a qual estava se assentando o 
            modelo econômico e social brasileiro.</p>
    </div>

    <!-- título com Separador -->
    <div class="title-with-separator">
        <h2 class="content-title">Redes de Computadores</h2>
        <div class="separator"></div>
    </div>

    <!-- texto -->
    <div class="text-body">
        <p>Esta linha de pesquisa aborda temas relacionados a Redes de Computadores, Comunicação Digital, Sistemas Multimídia, IoT, Internet do Futuro, Redes de 
            Alto Desempenho, Redes sem Fio, Segurança de Redes, Infraestrutura de Tecnologia da Informação e Comunicação, dentre outras.</p>
    </div>

    <!-- título com Separador -->
    <div class="title-with-separator">
        <h2 class="content-title">Informática Agrária</h2>
        <div class="separator"></div>
    </div>

    <!-- texto -->
    <div class="text-body">
        <p>Desenvolver abordagens computacionais baseadas para processamento digital de imagens que sejam capazes de dar suporte a aplicações em Ciências Agrá-
            rias, especialmente de Zootecnia, Agronomia e Engenharia Florestal, com espécies (madeiras, animais e plantas) amazônicas.</p>
    </div>

    <!-- título com Separador -->
    <div class="title-with-separator">
        <h2 class="content-title">Informática em Saúde</h2>
        <div class="separator"></div>
    </div>

    <!-- texto -->
    <div class="text-body">
        <p>A Informática em Saúde é a área do conhecimento que trata da aplicação de conceitos e tecnologias de Informação e Comunicação (TIC) para a melhoria e 
            transformação de sistemas, serviços e processos de Saúde. O termo eSaúde (tradução do inglês – eHealth) pode ser entendido dentro da mesma definição 
            de informática em saúde e tem sido um termo bastante utilizado recentemente.</p>
    </div>

</body>