{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NPCA</title>
    <!-- links arquivos CSS -->
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/div2.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>

<body>
<!-- barra de navegação fixa -->
<div class="navbar">
    <!-- Logo à direita -->
    <div class="logo">
        <img src="{% static 'imagens/logo3.png' %}" alt="logo">
    </div>
    <!-- barra de pesquisa à esquerda -->
    <div class="search-bar">
        <input type="text" placeholder="Procurar...">
        <button type="submit">Pesquisar</button>
    </div>
</div>

<!-- opções de navegação -->
<div class="options">
    <a href="/">Home</a>
    <a href="/pesquisa">Linhas de Pesquisa</a>
    <a href="/projetos">Projetos</a>
    <a href="/contato">Contato</a>
    <a href="/outros">Outros</a>
</div>

<!-- separador -->
<hr>

<!-- conteúdo da página -->
<body>
    <!-- título com Separador -->
    <div class="title-with-separator">
        <h2 class="content-title">Projeto 1</h2>
        <div class="separator"></div>
    </div>

    <!-- texto -->
    <div class="text-body">
        <p>Coordenador: nome responsável</p>
        <p>Cadastro: PROEX/UFRA</p>
        <p>Projeto de Extensão (tipo de projeto)</p>
    </div>

    <!-- título com Separador -->
    <div class="title-with-separator">
        <h2 class="content-title">Projeto 2</h2>
        <div class="separator"></div>
    </div>

    <!-- texto -->
    <div class="text-body">
        <p>Coordenador: nome responsável</p>
        <p>Cadastro: PROEX/UFRA</p>
        <p>Projeto de Extensão (tipo de projeto)</p>
    </div>

    <!-- título com Separador -->
    <div class="title-with-separator">
        <h2 class="content-title">Projeto 3</h2>
        <div class="separator"></div>
    </div>

    <!-- texto -->
    <div class="text-body">
        <p>Coordenador: nome responsável</p>
        <p>Cadastro: PROEX/UFRA</p>
        <p>Projeto de Extensão (tipo de projeto)</p>
    </div>

    <!-- título com Separador -->
    <div class="title-with-separator">
        <h2 class="content-title">Projeto 4</h2>
        <div class="separator"></div>
    </div>

    <!-- texto -->
    <div class="text-body">
        <p>Coordenador: nome responsável</p>
        <p>Cadastro: PROEX/UFRA</p>
        <p>Projeto de Extensão (tipo de projeto)</p>
    </div>

    <!-- título com Separador -->
    <div class="title-with-separator">
        <h2 class="content-title">Projeto 5</h2>
        <div class="separator"></div>
    </div>

    <!-- texto -->
    <div class="text-body">
        <p>Coordenador: nome responsável</p>
        <p>Cadastro: PROEX/UFRA</p>
        <p>Projeto de Extensão (tipo de projeto)</p>
    </div>

    <!-- título com Separador -->
    <div class="title-with-separator">
        <h2 class="content-title">Projeto 6</h2>
        <div class="separator"></div>
    </div>

    <!-- texto -->
    <div class="text-body">
        <p>Coordenador: nome responsável</p>
        <p>Cadastro: PROEX/UFRA</p>
        <p>Projeto de Extensão (tipo de projeto)</p>
    </div>

</body>