/* estilização para o container flexível */
.d-flex {
    flex-direction: column; /* organiza os itens em uma coluna */
    align-items: flex-start; /* alinha os itens à esquerda */
    margin-left: 30px;
}

/* estilo opcional para os itens */
.d-flex > div {
    margin-bottom: 10px; /* Espaçamento entre os itens */
}