/* centralizando o texto na coluna */
.container .row .col {
    text-align: center;
    margin-top: 20px;
}

/* imagens dos cards */
.card-img-top {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
 .card {
    border-radius: 30px;
    border-color: #c3c3c3;
 }

 .card-body {
    text-align: center;
    color: #000;
 }

/* container flexível */
.d-flex {
    display: flex;
    justify-content: space-between; /* espaço entre o texto e a imagem */
    align-items: center; /* alinha o texto e a imagem verticalmente no centro */
}