.navbar-brand img {
    height: 50px;
    width: auto;
}
 /* pesquisa */
 .navbar .search-bar {
    display: flex;
    align-items: center;
}

.navbar .search-bar input {
    border-radius: 30px;
    padding: 5px;
    margin-right: 5px;
}

.navbar .search-bar button {
    padding: 5px 20px;
    border-radius: 30px;
    background-color: aqua;
}

 /* links */
 .navbar-nav .nav-item .nav-link {
    padding: 8px 12px;
}

 /* header fixo */
 .navbar.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
}
