/* barra de navegação */
.navbar {
    background-color: #fff !important;  /* cor de fundo */
    padding: 10px 20px; /* espaçamento interno */
    border-bottom: 1px solid #c3c3c3; /* cor e estilo da linha */
}

/* itens do menu de navegação */
.nav-link, .dropdown-item {
    color: #000 !important; /* cor do texto preta */
    transition: color 0.3s; /* transição suave para o efeito hover */
}

/* hover  */
.nav-link:hover, .dropdown-item:hover {
    color: #c3c3c3 !important; 
    background-color: transparent;
}

.dropdown-menu {
    border-radius: 30px;
}

/* barra de pesquisa */
.form-inline {
    margin-left: auto; /* espaçamento entre elementos */
}

/* campo de pesquisa */
.form-control {
    margin-right: 10px; /* margem direita */
    border-radius: 30px; /* bordas arredondadas */
}

/*  botão pesquisa */
.btn-outline-success {
    color: #000; /* cor inicial do texto */
    border-radius: 100px; /* bordas arredondadas */
    background-color: transparent; /* fundo transparente */
    border: none; 
    text-align: center;
}

/* hover botão pesquisar */
.btn-outline-success:hover {
    background-color: transparent; /* cor de fundo ao passar o mouse */
    color: #333;
}

/* ao clicar no botão de pesquisa*/
.btn-outline-success:active {
    background-color: #f3f3f3 !important; /* cor de fundo ao ser clicado */
    color: #000 !important; /* cor do texto */
    border: #333 !important; /* cor da borda */
    box-shadow: none !important;
}

/* body */
body {
    min-height: 100vh; /* Altura mínima de 100% da janela */
    display: flex; /* Use layout flexível */
    flex-direction: column; /* Organize o conteúdo em uma coluna */
    margin: 0; /* Remova a margem */
}

/* conteúdo principal ocupa o espaço restante */
main, .content {
    flex-grow: 1; /* Permite que o conteúdo principal cresça */
}


/* elementos principais */
.row, .col, .d-flex, .text {
    width: 100%; /* Ocupa 100% da largura do contêiner pai */
    height: auto; /* Altura automática com base no conteúdo */
}


/* rodapé */
.footer {
    background-color: #f3f3f3; /* cor de fundo */
    padding: 20px 0;
    color: #000; /* cor do texto */
    padding: 10px; /* padding no rodapé */
}

/* links do rodapé */
.footer a {
    color: #000; /* cor do texto */
    margin-right: 20px; /* margem direita */
    transition: color 0.3s; /* transição de cor ao passar o mouse */
    text-decoration: none; /* remove sublinhado dos links */
    width: 100%; /* Define a largura como 100% */
}

/* hover para os links do rodapé */
.footer a:hover {
    color: #c3c3c3; /* cor do texto ao passar o mouse */
}

.footer p {
    text-align: center;
}

/* alinhar os itens verticalmente */
.col-md-8 .d-flex {
    flex-direction: column; /* define a direção flexível para a coluna */
    align-items: flex-start; /* alinha os itens à esquerda */
    margin-left: 500px;
}

/* adiciona margens entre os itens */
.col-md-8 .d-flex > div {
    margin-bottom: 10px;
}

.footer ul {
    list-style-type: none;
}