/* rodapé */
footer {
    background-color: #f8f9fa; /* cor de fundo */
    margin-top: 50px; /* margem superior para separar o rodapé do conteúdo acima */
    text-align: left; /* alinha o texto à esquerda */
    width: 100%; /* ocupa 100% da largura da tela */
}

/* texto dentro das colunas */
footer .col-6 div {
    text-align: left; /* alinha o texto à esquerda */
    margin-top: 30px;
}

/* listas  */
footer ul {
    list-style-type: none; /* remove marcadores das listas */
    padding: 0; /* remove preenchimento */
}

/* links dentro das listas */
footer ul li a {
    color: #000; /* cor do texto */
    display: block; /* cada link ocupa toda a largura */
    margin: 5px 0; /* espaçamento superior e inferior */
    text-decoration: none; /* remove sublinhado dos links */
    transition: color 0.3s; /* transição de cor ao passar o mouse */
}

footer ul li a:hover {
    color: #c3c3c3; /* cor do texto ao passar o mouse */
    text-decoration: none; /* remove sublinhado dos links */
}

/* footer contato */
footer .text p {
    font-weight: bold; /* negrito */
    margin: 20px; 
    text-align: center; /* centraliza */
}