/* rodapé */
.footer {
    bottom: 0; /* posiciona na parte inferior */
    background-color: #f3f3f3; /* cor de fundo */
    color: #000; /* cor do texto */    
    width: 100% !important; /* ocupa 100% da largura da tela */
}

/* links do rodapé */
.footer a {
    color: #000; /* cor do texto */
    transition: color 0.3s; /* transição de cor ao passar o mouse */
    text-decoration: none; /* remove sublinhado dos links */
}

/* hover para os links do rodapé */
.footer a:hover {
    color: #c3c3c3; /* cor do texto ao passar o mouse */
}

/* footer contato */
.footer p { 
    text-align: center;
    font-weight: bold; /* fonte em negrito */
}

/* alinhar os itens verticalmente */
.col-md-8 .d-flex {
    flex-direction: column; /* define a direção flexível para a coluna */
    align-items: flex-start; /* alinha os itens à esquerda */
}

/* adiciona margens entre os itens */
.col-md-8 .d-flex > div {
    margin-bottom: 10px;
}

.footer ul {
    list-style-type: none;
}