.footer {
    margin-top: 30px;
    background-color: #00BAB3; /* cor de fundo */
    color: #fff; /* cor do texto */
    padding: 20px; /* espaçamento interno */
    display: flex; /* exibe os elementos em linha */
    justify-content: space-between; /* alinha os itens nos extremos */
    font-size: 20px;
    justify-content: flex-start; /* Alinha os itens à esquerda */
}

.footer-menu ul {
    list-style-type: none; /* remove os marcadores de lista */
    padding: 0;
}

.footer-menu ul li {
    display: block; /* exibe os itens em bloco */
    margin-right: 30px; /* adiciona espaçamento entre os itens */
    font-size: 16px;
}

.footer-menu ul li:last-child {
    margin-right: 0; /* remove a margem direita do último item */
    color: #fff;
}

.social-icons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* alinha os itens na esquerda */
}

.social-icons div {
    display: flex;
    align-items: center; /* aliinha os itens verticalmente */
    margin-bottom: 10px; /* espaçamento abaixo de cada item */
}

.social-icons svg {
    width: 24px; /* largura */
    height: 24px; /* altura */
    margin-right: 10px; /* espaçamento entre o ícone e o texto */
    fill: #fff; /* cor do svg */
}

.social-icons .icon-text {
    font-size: 16px; /* tamanho do texto */
}