/* barra de navegação */
.navbar {
    background-color: #fff !important;  /* cor de fundo */
    padding: 10px 20px; /* espaçamento interno */
    border-bottom: 1px solid #c3c3c3; /* cor e estilo da linha */
    width: 100% !important; /* ocupa 100% da largura da tela */
    color:#000;
}

/* itens do menu de navegação */
.nav-link, .dropdown-item {
    color: #000 !important; /* cor do texto preta */
    transition: color 0.3s; /* transição suave para o efeito hover */
    font-size: larger;
}

/* hover  */
.nav-link:hover, .dropdown-item:hover {
    color: #c3c3c3 !important; 
    background-color: transparent;
}

.dropdown-menu {
    border-radius: 30px;
}

/* barra de pesquisa */
.form-inline {
    margin-left: auto; /* espaçamento entre elementos */
}

/* campo de pesquisa */
.form-control {
    margin-right: 10px; /* margem direita */
    border-radius: 30px; /* bordas arredondadas */
}

/*  botão pesquisa */
.btn-outline-success {
    color: #000; /* cor inicial do texto */
    border-radius: 100px; /* bordas arredondadas */
    background-color: transparent; /* fundo transparente */
    border: none; 
    text-align: center;
}

/* hover botão pesquisar */
.btn-outline-success:hover {
    background-color: transparent; /* cor de fundo ao passar o mouse */
    color: #333;
}

/* ao clicar no botão de pesquisa*/
.btn-outline-success:active {
    background-color: #f3f3f3 !important; /* cor de fundo ao ser clicado */
    color: #000 !important; /* cor do texto */
    border: #333 !important; /* cor da borda */
    box-shadow: none !important;
}
