.content {
    padding: 20px;
    text-align: center;
}

.content-buttons {
    margin-top: 30px;
    text-align: center;
}

.content-buttons button {
    margin-right: 20px; /* espaçamento entre os botões */
    background-color: #000;
    color: #fff;
    width: 300px; /* tamanho */
    height: 30px; /*altura */
    border-radius: 20px; /* borda redonda */
}

.highlight-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.highlight-box {
    text-align: center;
    margin: 0 50px;
    overflow: hidden;
    border-radius: 30px; /* adiciona bordas arredondadas */
}

.highlight-box img {
    max-width: 100%; /* garante que a imagem não ultrapasse o limite da caixa */
    height: 400px;
    width: 300px;
    margin-bottom: 10px;
}

.text-ufra {
    margin-top: 10px; /* espaçamento entre o separador e o texto */
    color: #000; /* cor do texto */
    text-align: left; /* alinhamento do texto */
    margin-left: 20px; /* margem esquerda */
    margin-right: 400px;
}
