/* Estilo para o container flexível */
.d-flex {
    display: flex; /* define o container como flexível */
    justify-content: space-between; /* espaça o conteúdo nas extremidades */
    text-align: left;
    gap: 20px; /* define um espaço de 20px entre os itens */
}


/* div.image */
.image img {
    align-items: end;
    margin-right: 40px;
}
