/* div.text */
.text h3 {
    font-size: medium;
    font-weight: bold;
    margin-top: 10px; /* espaçamento superior entre títulos */
    margin-bottom: 5px; /* espaçamento inferior entre títulos e parágrafos */
}

/* parágrafos */
.text p {
    font-size: medium;
    margin-bottom: 10px; /* espaçamento inferior entre parágrafos e títulos seguintes */
}
