/* barra de navegação */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff; /* cor de fundo da barra */
    color: #000; /* cor do texto */
    padding: 10px 20px; /* espaçamento interno */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* barra de navegação esteja acima de outros elementos */
}

.logo {
    display: flex;
    justify-content: left; /* deixa na esquerda horizontal */
    align-items: center; /* centraliza verticalmente */
}

.logo img {
    max-width: 15%; /* imagem não ultrapassa a largura da div */
    height: auto; /* mantém a proporção da imagem */
    margin: 0 10px; /* margem entre as imagens */
}

.search-bar {
    display: flex; /* elementos flexíveis */
    align-items: center; /* alinha os itens verticalmente ao centro */
}

/* barra de pesquisa */
.search-bar input[type="text"] {
    padding: 5px;
    border-radius: 30px; /* borda redonda */
    border: 1px solid #ccc;
    margin-right: 10px; /*  espaçamento de 10px à direita do input */
}

.search-bar button {
    padding: 5px 10px;
    border-radius: 30px; /* borda redonda */
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    margin-right: 50px;
}

.search-bar button:hover {
    background-color: #00BAB3; /* cor de fundo do botão ao passar o mouse */
}

/* opções de navegação */
.options {
    margin-top: 80px; /* espaço para a barra de navegação */
    text-align: center;
}

.options a {
    color: #000;
    text-decoration: none;
    margin: 0 10px;
    text-align: right;
}

/* separador */
hr {
    border: 0;
    border-top: 1px solid #c9c9c9;
    margin: 20px auto;
    width: 100%; /* largura do separador */
}

.content {
    padding: 20px;
    text-align: center;
}

.content-buttons {
    margin-top: 30px;
    text-align: center;
}

.content-buttons button {
    margin-right: 20px; /* espaçamento entre os botões */
    background-color: #000;
    color: #fff;
    width: 300px; /* tamanho */
    height: 30px; /*altura */
    border-radius: 20px; /* borda redonda */
}

.title-with-separator {
    margin-top: 20px; /* espaçamento entre os botões e o título */
    display: flex; /* alinhar os itens horizontalmente */
    align-items: center; /* alinha os itens verticalmente */
    margin-left: 30px;
}

.highlight-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Ajuste conforme necessário */
}

.highlight-box {
    text-align: center;
    margin: 0 20px; /* espaçamento entre as caixas */
}

.highlight-box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px; /* espaçamento entre a imagem e a legenda */
}


.content-title {
    margin-right: 20px; /* espaçamento entre o título e o separador */
}

.separator {
    flex-grow: 1; /* ocupa todo o espaço restante disponível */
    height: 5px; /* altura do separador */
    background-color: #00BAB3; /* cor do separador */
}

.text-ufra {
    margin-top: 10px; /* espaçamento entre o separador e o texto */
    color: #000; /* cor do texto */
    text-align: left; /* alinhamento do texto */
    margin-left: 20px; /* margem esquerda */
    margin-right: 400px;
}

